body {    
    background-image: url(../images/cinema2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;    
}

.header .navbar {
    background-color: transparent !important;
    border-color: transparent;    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;    
}

.navbar ul li a:visited {        
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 0.5px solid #ffffff;
    font-size: 25px;
    color:ButtonHighlight; 
}


  

.navbar a {
    color: white;    
    font-family: 'Agency FB';
    font-size: 60px;   
}

.navbar i {        
    font-size: 40px;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    color:white;
    font-size: 20px;
    font-family: 'Arial Rounded MT',sans-serif;   
}

.navbar ul li {
    padding: 20px;
}