@model IEnumerable<Genre>

<table class="table my-2 table-striped  table-light">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td> @i.Name </td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning fa fa-pencil-alt" asp-route-GenreID="@i.GenreID">                        
                    </a>
                    <input type="hidden" name="GenreID" value="@i.GenreID" />
                    <button type="submit" class="btn btn-sm btn-primary fa fa-trash">                        
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-info">
        Add Genre
    </a>
</div>