<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cine+</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/site.css" />    
    <link rel="stylesheet" href="~/css/usefulSS.css" />
    <link rel="stylesheet" href="~/assets/css/all.css" />
    <link rel="stylesheet" href="~/css/backClientSS.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-controller="HomeClient" asp-action="Index">
                    <i class="fa fa-home" aria-hidden="true" style="position:fixed;top:3%;font-size:20px"></i>
                </a>
                
                <a id="settings" class="nav-link" href="#" data-toggle="dropdown">
                    <i id="settings" class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <div id="SettingDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a id="buttonNav" class="nav-link active" asp-controller="HomeClient" asp-action="Recommendation">Recommendations</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="buttonNav" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                Purchases
                            </a>
                            <div id="Dropdown" class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Purchase" asp-action="Billboard">Billboard</a>
                                <a class="dropdown-item" asp-controller="Purchase" asp-action="ReturnTickets">Return Tickets</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="buttonNav" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                Membership
                            </a>
                            <div id="Dropdown" class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Membership" asp-action="Subscribe">Subscribe</a>
                                <a class="dropdown-item" asp-controller="Membership" asp-action="Unsubscribe">Unsubscribe</a>                                
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white">
        <div class="container">
            &copy; 2021 - Cine 
            <i class="fa fa-plus text-primary" aria-hidden="true"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
