@model Client
@{
    Layout = "_LayoutClientPurchasing";
}
    <div class="margin mx-auto card text-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Please identify yourself</div>
        <div class="card-body">
            <form asp-action="ReturnTickets" method="post">
                <div class="form-group">
                    <label asp-for="Name"> </label>
                    <div><span asp-validation-for="Name" class="text-primary"></span></div>
                    <input asp-for="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="LastName"> </label>
                    <div><span asp-validation-for="LastName" class="text-primary"></span></div>
                    <input asp-for="LastName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="IdentityNumber"> </label>
                    <div><span asp-validation-for="IdentityNumber" class="text-primary"></span></div>
                    <input asp-for="IdentityNumber" class="form-control" />
                </div>


                <div class="margin text-center">
                    <button class="btn btn-info" type="submit"> Next </button>
                    <a asp-action="Index" class="btn btn-dark">  Cancel </a>
                </div>


            </form>

        </div>
    </div>