@model IEnumerable<Shift>

<table class="table my-2 text-center table-striped table-light">
    <tr>
        <th>Name</th>
        <th>Starting time</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td> @i.Name </td>
            @if (i.Time != default(DateTime))
            {
            <td> @i.Time.Hour:@i.Time.Minute </td>
            }
            else {
            <td></td>
            }
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning fa fa-pencil-alt" asp-route-ShiftID="@i.ShiftID">                       
                    </a>
                    <input type="hidden" name="ShiftID" value="@i.ShiftID" />
                    <button type="submit" class="btn btn-sm btn-primary fa fa-trash">                      
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-info">
        Add Shift
    </a>
</div>