@model IEnumerable<SpecialUser>

<div id="table">
<table class="table my-2 text-center table-light">
    <tr>
        <th>Name</th>
        <th>Discount Rate</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td> @i.Name </td>
            <td> @i.DiscountRate </td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning fa fa-pencil-alt" asp-route-SpecialUserID="@i.SpecialUserID"></a>
                    <input type="hidden" name="SpecialUserID" value="@i.SpecialUserID" />
                    <button type="submit" class="btn btn-sm btn-primary fa fa-trash"></button>
                </form>
            </td>
        </tr>
    }
</table>
</div>
<div id="add" class="text-center">
    <a asp-action="Create" class="btn btn-info">
        Add Special User
    </a>
</div>